*{
	font-family: 'Sen', sans-serif;
	font-weight: 100;
}

:root {
	--color: #2AB6FC;
}

.body {
	display: grid;
	grid-template-rows: repeat(auto-fit, minmax(1fr, 1fr));
}
/* HEADER-----------------------------------------------------------------------------------*/
hr {
	height: 3px;
	width: 200px;
	background-color: var(--color);
	border:none;
	outline: none;
}


.header{
	display: grid;
	grid-template-rows: 60px 1fr;
	grid-template-columns: repeat(3, 1fr);
	height: 100vh;
	align-items: center;
}

/*BOTON DE HOME*/
.button-top{
	position: fixed;
	background-color: #0073AD ;
	height: 50px;
	width: 50px;
	margin: 20px;
	border-radius: 8px;
	top: 90%;
	left: 92%;

}

.button-top:hover{
	background-color: #00679B;
	transform: scale(1.1);
	transition-property: transform color;
	transition-duration:.4s;
}
.button-top:active{
	background-color: var(--color);
	transform: scale(0.9);
	transition-property: transform color;
	transition-duration:.4s;
}
.button-top a i{
	font-size: 30px;
	height: 45px;
	width: 45px;
	color: white;
	padding-top: 10px;
	padding-left: 15px;
}
@media screen and (max-width: 800px){
	.button-top{
	top: 91%;
	left: 78%;
	z-index: 150;
	transform: scale(1.2);
	}
	.button-top:hover{
	background-color: #00679B;
	transition-property: transform color;
	transition-duration:.4s;
	transform: scale(1.2);
}
}
/*BARRA DE NAVEGACION*/



.header__nav-menu{
	grid-column: 1 / 4;
	grid-row: 1 / 2;
	display: grid;
	grid-template-columns: 60px 1.5fr 1fr;
	padding: 5px;
	align-items: center;
	background-color: #000;
	width: 100%;
	height: 60px;
	position: fixed;
	z-index: 100;
}
.logo{
	grid-column: 1 / 2;
	color: #fff;
	text-align: center;
	text-decoration: none;
	font-size: 20px;
}


.header__nav-menu ul{
	grid-column: 3 / 4;
	display: grid;
	grid-template-columns: repeat(4,1fr);
	grid-column-gap: 15px;


	align-self: center;
	justify-self: center;


}
@media screen and (max-width: 800px){
	.logo{
		display: none;
}
	.header__nav-menu ul{
		grid-column: 1 / 4;
		display: grid;
		grid-template-columns: repeat(4,1fr);
		grid-column-gap: 15px;


		align-self: center;
		justify-self: center;
	}
}

.header__nav-menu ul li {
	display: inline-block;
	font-size: 13px;
	text-align: center;
	padding: 5px;
	justify-items: center;

}
.header__nav-menu ul li a {
	color: #fff;
	text-decoration: none;
}
.header__nav-menu ul li a:hover {
	color: var(--color);
	text-decoration: none;
	transition-duration: 0s;
	transition-property: color;


}
/*SUBMENU PORTFOLIO*/
.header__nav-menu li ul{
	display: none;
	position: absolute;
	background-color: black;

}

.header__nav-menu li:hover ul{
	display: block;	
}
.header__nav-menu li ul{
	padding-top: 20px;
	border:1px solid;
	text-align: left;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px; 
	box-shadow: -5px 28px 14px -6px rgba(0,0,0,0.78);
	-webkit-box-shadow: -5px 28px 14px -6px rgba(0,0,0,0.78);
	-moz-box-shadow: -5px 28px 14px -6px rgba(0,0,0,0.78);
}

.header__nav-menu li ul li {
	padding: 20px;
	width: 100%;

}

.header__nav-menu li ul li:hover {
	background-color: grey;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px; 
}
.header__nav-menu li ul li a {
	white-space: nowrap;
}

/*IMAGEN HEADER*/

.header__imagen{
	grid-row: 2 / 3;
	grid-column: 1 / 4;
	background-image: url(https://cdn.shortpixel.ai/client/q_glossy,ret_img,w_1920/https://onlinevalles.com/wp-content/uploads/2017/07/programacion-de-p%C3%A1ginas-web-sabadell-programadores-barcelona.jpeg);
	height: 100%;
	background-size: cover;
	background-attachment: fixed;
	display: grid;
	grid-template-columns: repeat(3,1fr);
	grid-template-rows: repeat(3,1fr);
}

.header__imagen-logo {
	grid-row: 2 / span 1;
	grid-column: 2 / span 1;
	display: grid;
	grid-template-rows: 2fr 1fr;
	justify-items: center;
	align-items: center;
	min-width: 600px;

}

.header__imagen-jpg {
	text-align: center;
}
.header__imagen-jpg a{
	color: white;
	font-size: 80px;
	text-decoration: none;
	height: 100%;

}
.header__boton{
	height: 100%;
	width: 50%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-items: center;
	align-items: center;
}

.header__boton-redes{
	min-height: 50px;
	min-width: 120px;
	border-radius: 5px;
	background-color: rgba(0, 0, 0, 0.5);
	color: #fff;
	transition-property: background ;
	transition-duration: .7s;

}

.header__boton-redes:hover {
	background-color: #fff;
	border:3px solid var(--color);
	color: #000;

}

.header__boton-redes:active {
	border:2px solid var(--color);
	transition-duration: 0s;
	transition-property: transform ;
	transform: scale(0.98);
	
}

/**/

/*SOBRE NOSOTROS ------------------------------------------------------------------------------------*/

.sobre-nosotros{
	min-height: 600px;
	max-height: 100%;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(500px, 1fr) );
	justify-items: center;
	align-items: center;
	padding: 50px;
	grid-gap: 20px;
}
/*CONTAINERS SOBRE NOSOTROS*/

.sobre-nosotros__imagen{
	height: 450px;
	width: 400px;
	background-image: url(https://images.unsplash.com/photo-1522252234503-e356532cafd5?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8ZGV2ZWxvcGVyfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80);
	border-radius: 10px;
	background-size: cover;
	transition-duration: 1s;
	transition-property: transform filter;
	filter: blur(2px);

}
.sobre-nosotros__imagen:first-child{
	padding-right: 30px;
}

.sobre-nosotros__imagen:hover{
	transform: scale(1.1);
	filter: blur(0px);
	box-shadow: 13px 13px 19px -9px rgba(0,0,0,0.69);
	-webkit-box-shadow: 13px 13px 19px -9px rgba(0,0,0,0.69);
	-moz-box-shadow: 13px 13px 19px -9px rgba(0,0,0,0.69);
}

.sobre-nosotros__texto{
	height: 450px;
	width: 400px;
	transition-duration: 1s;
	transition-property: transform;

}
.sobre-nosotros__texto:nth-child(2) {
	justify-self: start;
	padding-left: 30px;
}
.sobre-nosotros__texto:hover{
	transform: scale(1.05);
}

/*PORTFOLIO ------------------------------------------------------------------------------------*/
#portf{
	display: grid;
	grid-template-rows: 60px 1fr;
	background-image: url(https://www.edix.com/es/wp-content/uploads/sites/2/2021/06/lenguajes-de-programacion.jpg);
	background-attachment: fixed;
	background-size: cover;
}
.portfolio__titulo {
	display: grid;
	grid-template-columns: 1fr 3fr 1fr;
	justify-items: center;
	align-items: center;
	padding: 20px;
}
.portfolio__titulo div{
	grid-column: 2/3;
	text-align: center;
	color: #fff;
	font-size: 35px;
}
.portfolio__titulo div h2 {
	font-family: 'Bebas Neue', cursive;
}

.portfolio{
	grid-row: 2 / 3;
	padding: 50px;
	display: grid;
	grid-template-rows: repeat(auto-fit, minmax(100px, 1fr) );
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-gap: 20px;
	justify-items: center;
	align-items: center;
}
/*GALERIA*/

.porfolio__galeria{
	height: 150px;
	width: 250px;
	background-color: #fff;
	border-radius: 5px;
	border: 2px solid var(--color);
}
.porfolio__galeria:hover{
	transform: scale(1.5);
	border: 1px solid var(--color);
	transition-duration: 1s;
	transition-property: transform;
	box-shadow: 1px 1px 25px -1px rgba(0,0,0,0.8);
	-webkit-box-shadow: 1px 1px 25px -1px rgba(0,0,0,0.8);
	-moz-box-shadow: 1px 1px 25px -1px rgba(0,0,0,0.8);
}


/*FOOTER ------------------------------------------------------------------------------------*/

#footer {
	background-color: var(--color);
	display: grid;
	grid-template-columns: 1fr 3fr 1fr;
	grid-template-rows: 1fr 1fr;
	height: 150px;
	width: 100%; 
	justify-items: center;
	align-items: center;
}

.footer__redes {
	grid-column: 2/3;
	font-size: 30px;
	text-align: center;
	align-self: end;


}

.footer__redes a{
	padding-left: 10px;
	padding-right: 10px;
	color: #fff;
	text-decoration: none;
	transition-property: transform filter ;
	transition-duration:.5s;

}
.footer__redes a:hover{
	transform: scale(1.1);

}

#footer p {
	grid-column: 2/3;
	grid-row: 2/3;
	text-align: center;
}
#footer p a{
	color: #fff;
	text-decoration: none;
}